{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
        <div class="row" style="margin-top: 40vh;">
            <div class="col-md-12">
                <h3>
                    Учетные данные:
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">Паспорт (серия и номер)</div>
            <div class="col-md-6">2432 242354 {{ finded_user.passport }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">ФИО</div>
            <div class="col-md-6">Иванов Иван Иванович {{ finded_user.last_name }} {{ finded_user.first_name }} {{ finded_user.middle_name }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">Дата рождения</div>
            <div class="col-md-6">21.01.1980 {{ finded_user.date_of_birth }}</div>
        </div>
        <div class="row space-top">
            <div class="col-md-12">
                <h3>
                    Активные талоны:
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    {% for ticket in tickets %}
                        {% if ticket.activated %}
                            <li>
                                Талон: 32456787654356787 {{ ticket.id }}, от 03.05.2019 {{ ticket.created_at }}
                                <form method="POST" action="/admin-panel" style="display: inline-block;">{% csrf_token %}
                                    <input type="text" name="ticket_id" value="{{ ticket.id }}" style="display: none;">
                                    <button type="submit" class="btn btn-warning">Аннулировать</button>
                                </form>
                            </li>
                            <br/>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row space-top">
            <div class="col-md-12">
                <h3>
                    Аннулированные талоны:
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    {% for ticket in tickets %}
                        {% if not ticket.activated %}
                            <li>
                                Талон 1: 23423432642366343 {{ ticket.id }}, от 01.05.2019 {{ ticket.created_at }}
                            </li>
                            <br/>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row space-top">
            <div class="col-md-6">
                <h3>
                    Сгенерировать талон
                </h3>
            </div>
            <div class="col-md-6">
                <form method="POST" action="/admin-panel"  style="display: inline-block;">{% csrf_token %}
                    <input type="text" name="passport" value="{{ passport }}" style="display: none;">
                    <button type="submit" class="btn btn-success">Сгенерировать</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}