{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/logout" class="btn btn-danger">Выйти</a>
    </nav>
</div>
{% endblock %}

{% block content %}
    <div>Hello</div>
    <div class="container" id="root">
        <!-- React -->
    </div>

    

    
    <!-- main -->
        <div class="container">
            <div class="row" style="margin-top: 40vh;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group row">
                            <label for="passport" class="col-sm-5 col-form-label">Паспорт (серия и номер)</label>
                            <div class="col-sm-7">
                                <input name="passport" type="text" class="form-control" id="passport" placeholder="4567 247564">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ticket_id" class="col-sm-5 col-form-label">Номер талона</label>
                            <div class="col-sm-7">
                                <input name="ticket_id" type="text" class="form-control" id="ticket_id" placeholder="32456787654356787">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2" style="width: 100%;">Найти</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    
{% endblock %}

{% block js %}
    <script src="{% static "../frontend/src/index.js" %}"></script>
{% endblock %}
