{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
        <div class="row" style="margin-top: 40vh;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" role="alert">
                    Талон сгенерирован!
                </div>
                <img src="{{ ticket.image.url }}" alt="">
                <p>Код: {{ ticket.id }}</p>
                <p>Чтобы напечатать талон, нажмите Ctrl+P</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}