{% extends 'base.html' %}
{% load static %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 10vh;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form>
                <div class="form-group row">
                    <label for="inputLogin" class="col-sm-5 col-form-label" style="text-align: right;">Логин</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputLogin" placeholder="Логин">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-5 col-form-label" style="text-align: right;">E-mail</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" id="inputEmail" placeholder="mail@example.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassport" class="col-sm-5 col-form-label" style="text-align: right;">Номер и серия паспорта</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" id="inputPassport" placeholder="1234 567890">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputName" class="col-sm-5 col-form-label" style="text-align: right;">ФИО</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputName" placeholder="Иванов Иван Иванович">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBirth" class="col-sm-5 col-form-label" style="text-align: right;">Дата рождения</label>
                    <div class="col-sm-7">
                        <input type="date" class="form-control" id="inputBirth">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="col-sm-5 col-form-label" style="text-align: right;">Номер телефона</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" id="inputPhone">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label" style="text-align: right;">Пароль</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPasswordCheck" class="col-sm-5 col-form-label" style="text-align: right;">Повторите Пароль</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="inputPasswordCheck" placeholder="Пароль">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2" style="width: 100%;">Авторизоваться</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
